$f1: #fff;
$f2: #999;

$l1: #212121;
$l2: #000;

$ti1: 150ms;
$ti2: 300ms;

$to1: 50ms;
$to2: 100ms;

$accent: #fff;
$critical: #ff0048;
$warning: #ff8c00;
$success: #00ff00;
$notice: #00ffff;

$d1: rgba(255, 255, 255, 20%);
$d2: rgba(255, 255, 255, 15%);
$d3: rgba(255, 255, 255, 10%);
$d4: rgba(255, 255, 255, 5%);