* {
    box-sizing: border-box;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: none;

    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -o-crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

body {
    margin: 0;
    display: flex;
    overflow: auto;
    flex-direction: column;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}